<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div class="col-md-3">
            <h2>Wireless Speakers</h2>
            <ul>
                <li><a href="https://www.sonos.com/en-us/home" target="blank">Sonos</a>  $$ <b>Sonos</b> did to the home stereo what music streaming did to radio:  killed it!  Sonos is easy to set up and use, looks and sounds good, and works in multiple rooms. Some models come ready with the Google Assistant, "Alexa")</li>
                <li><a href="https://www.devialet.com/en-us/phantom-speaker/" target="blank">Devialet Phantom</a>  $$$$ This speaker is spendy, but the <b>Devialet Phantom</b> is packing 3000W of power and produces "mind-bending sound quality". Kinda looks like an egg that's gonna hatch R2D2 out of it.</li>
                <li><a href="https://www.bose.com/en_us/products/speakers/multi_room_speakers/soundtouch-10-wireless-system.html" target="blank">Bose SoundTouch</a>  $$ <b>Bose</b> entered into the game with several models to choose from.  All are easy to set up and control and offer the sound quality you'd expect from Bose.</li>
                <li><a href="https://www.samsung.com/us/experience/radiant360/" target="blank">Samsung Radiant360</a>  $$-$$$  Have a need for omni-directional sound?  The wait is over.  Available in three models with different size and sound capacities, the <b>Radiant 360</b> is pretty nifty if your speaker is in the middle of a room.</li>
                <li><a href="http://www.bluesound.com/en-eu/products/pulse-mini/?cl" target="blank">BlueSound Pulse Mini</a>  $$$  If high-definition audio is a must, the <b>BlueSound Pulse Mini</b> might just be your gadget. With higher sample rates and bit depths transmitted wirelessly, you're gonna want to match this speaker up with <b>Tidal</b> for the ultimate Hi-Def sound.</li>
            </ul>
        </div>
    </body>
</html>
