@{
    ViewData["Title"] = "";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/BannerBlueNotes.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                   The 101 Best Songs of 2017
                </p>
                    <a class="btn btn-info" target="blank" href="https://www.spin.com/featured/101-best-songs-of-2017/">
                        Spin!
                    </a>
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/BannerGoldConfetti.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    The Top Ten Songs of all Time
                </p>
                    <a class="btn btn-warning" target="blank" href="https://www.thetoptens.com/songs/">
                        Top Ten
                    </a>
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/BannerCrystalBall.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Artists to Watch in 2018
                </p>
                    <a class="btn btn-primary" target="blank" href="https://listen.tidal.com/rising">
                        Crystal Ball
                    </a>
             
            </div>
        </div>
        <div class="item">
            <img src="~/images/BannerGreenMusic.jpg" alt="" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Great Classical Music in the Movies.
                </p>
                    <a class="btn btn-success" target="blank" href="https://www.gramophone.co.uk/features/focus/top-10-classical-music-moments-in-cinema">
                        Action!
                    </a>
                
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
            <h2>Streaming into 2018</h2>
            <p>Today's music revolution is about freedom from radio and wires.<br />Three things to consider:</p>
            <p></p>
        
        <ul>
            <li>Music Streaming Services</li>
            <li>Music Player Software</li>
            <li>Speaker(s) (We'll focus on wireless speakers that don't require additional hardware to output music.)</li>
        </ul>
        <p><a href="http://www.goldtouch.com/bluetooth-vs-wireless-device-technology/" target="blank">So, what's the difference between Bluetooth and Wi-Fi?</a></p>
    </div>
    <div class="col-md-3">
        <h2>5 Streaming Services to Check Out</h2>
        <ul>
            <li><a href="https://www.spotify.com/us/home/" target="blank">Spotify</a>  <b>Spotify</b> is great for those new to streaming. Although the free plan has limitations, Spotify's music library is huge and the interface is user-friendly. It's also available without ads with paid subscription. It's Swedish!</li>
            <li><a href="https://www.apple.com/music/" target="blank">Apple Music</a>  <b>Apple Music</b> integrates well with Apple products and includes good, hand-curated "radio" stations. Available with paid subscription only.  Apple is in Cupertino, CA.</li>
            <li><a href="https://www.pandora.com/" target="blank">Pandora</a>  With its <a href="https://www.pandora.com/about/mgp" target="blank">Music Genome Project,</a> <b>Pandora</b> set the standard for categorizing tunes based on their characteristics. It's available free with ads or with paid subscription. Headquarters are in Oakland, CA.</li>
            <li><a href="https://soundcloud.com/" target="blank">SoundCloud</a>  With 200 million users, <b>SoundCloud</b> is "the world's leading audio platform". It's definitely for music lovers who don't mind digging to find music. But because artists can upload their songs directly to SoundCloud, there are plenty of diamonds in the rough to be found. SoundCloud--free with ads or with paid subscription--was founded and is maintained in Germany. </li>
            <li><a href="https://listen.tidal.com/" target="blank">Tidal</a>  For listeners who refuse to compromise on audio resolution, <b>Tidal</b> is the way to go. Offering 24-bit resolution, Tidal's sound quality exceeds others, but only if the audio output hardware is up to it (see Devialet Phantom).  Available with paid subscription only, Tidal is maintained in Norway.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Music Player Software</h2>
        <ul>
            <li><a href="https://roonlabs.com/downloads.html" target="blank">roon</a> For Mac and Windows, <b>roon</b> offers the complete audio-file experience, picking up where album sleeves left off.  It's expensive, but as one reviewer wrote, "If you don't want to end up paying for this service, don't . You'll get hooked."</li>
            <li><a href="https://www.apple.com/itunes/music/" target="blank"> iTunes</a>  For Mac and Windows, <b>iTunes</b> kicked it all off and continues to offer a comprehensive, beautiful interface.</li>
            <li><a href="http://www.mediamonkey.com/download/" target="blank">MediaMonkey</a>  For Mac and Windows, <b>MediaMonkey</b> might not look gorgeous, but it has undeniable inner beauty. From arranging the music library in a logical hierarchy, to allowing for tagging during playback, to identifiny tracks with missing metadata and searching for the information online, MediaMonkey isn't so much mischievous as practical. Maybe t  hey shoulda called it MediaMom.</li>
            <li><a href="http://www.foobar2000.org/" target="blank">foobar2000</a>  For Windows only, <b>foobar2000</b> made the list because of one feature: IT ERASES DUPLICATED TRACKS!</li>
            <li><a href="http://www.pixiapps.com/ecouteios/" target="blank">Ecoute 2</a>  For Mac iOS only, <b>Ecoute 2</b> is essentially an extension of iTunes, but makes library management easier with a simple and beautiful interface.</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Wireless Speakers</h2>
        <ul>
            <li><a href="https://www.sonos.com/en-us/home" target="blank">Sonos</a>  $$ <b>Sonos</b> did to the home stereo what music streaming did to radio:  killed it!  Sonos is easy to set up and use, looks and sounds good, and works in multiple rooms. Some models come ready with the Google Assistant, "Alexa")</li>
            <li><a href="https://www.devialet.com/en-us/phantom-speaker/" target="blank">Devialet Phantom</a>  $$$$ This speaker is spendy, but the <b>Devialet Phantom</b> is packing 3000W of power and produces "mind-bending sound quality". Kinda looks like an egg that's gonna hatch R2D2 out of it.</li>
            <li><a href="https://www.bose.com/en_us/products/speakers/multi_room_speakers/soundtouch-10-wireless-system.html" target="blank">Bose SoundTouch</a>  $$ <b>Bose</b> entered into the game with several models to choose from.  All are easy to set up and control and offer the sound quality you'd expect from Bose.</li>
            <li><a href="https://www.samsung.com/us/experience/radiant360/" target="blank">Samsung Radiant360</a>  $$-$$$  Have a need for omni-directional sound?  The wait is over.  Available in three models with different size and sound capacities, the <b>Radiant 360</b> is pretty nifty if your speaker is in the middle of a room.</li>
            <li><a href="http://www.bluesound.com/en-eu/products/pulse-mini/?cl" target="blank">BlueSound Pulse Mini</a>  $$$  If high-definition audio is a must, the <b>BlueSound Pulse Mini</b> might just be your gadget. With higher sample rates and bit depths transmitted wirelessly, you're gonna want to match this speaker up with <b>Tidal</b> for the ultimate Hi-Def sound.</li>
        </ul>
    </div>
</div>
